/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,800,700');

/*song
 * Nib provides a CSS reset
 */
global-reset()

body
html
  background red
  color #fff
  height 100%
  font-family 'Open Sans', sans-serif;
a
  text-decoration none
  color dark
  &:hover
    color yellow
.lockup
  position relative
  padding 0px

.bigpicture
  width 100%
  margin 0 auto
  img
    width 100%

.headline
  text-align center
  position absolute
  width 100%
  top 50%
  font-size 2rem