doctype html
html
    head
        title The Bigger Picture
        meta(property="og:site_name", content="Pullquote")
        meta(property="og:type", content="website")
        meta(property="og:url", content="http://thebiggerpicture.thehonestape.com/")
        meta(property="og:image", content="http://workhors.es/live/wp-content/themes/workhorse/assets/img/monogram.jpg")
        link(rel="image_src", type="image/jpeg", href="http://wilderness.herokuapp.com/images/thumbnail.jpg")

        link(rel='shortcut icon', href='/images/favicon.ico')
        link(rel='stylesheet', href='/styles/style.css')
        link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")

        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(type='text/javascript', src='/js/classie.js')
        script(type='text/javascript', src='/js/what.js')

        meta(name='viewport', content='width=device-width')
    body.cbp-spmenu-push
        nav.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left(id='cbp-spmenu-s1')
            .title
                h3 The Bigger Picture
            p This is an experiment that uses 
                a(href="https://github.com/MatthewMueller/cheerio", target="_blank") node
                |  to scrape the front page of the 
                a(href="https://www.boston.com/bigpicture/", target="_blank") Boston Globe's Big Picture.
            p Created by Abe Garcia at 
                a(href="http://workhors.es") wrkhrs.co. 
                |  Come check us out to see what we're up to and say hi to us on 
                a(href="http://www.twitter.com/wrkhrsco", target="_blank") twitter 
                |  or 
                a(href="http://www.facebook.com/wrkhrsco", target="_blank") facebook.
            //- h4 Sources
                a(href='https://www.boston.com/bigpicture/') Boston Globe
        .info-button(id='showLeftPush')
        #content
            block content