extend layout

block content 
    div(data-role='page')
        header(data-role='header')
        div(data-role='content')
            - if(items.length)
                - items.forEach(function(item){
                        .lockup
                            h3.headline= item['title']
                            a.bigpicture(href=item['urlObj'].href, title=item['title'], target="_blank")
                                img(src=item['thumbnail'], alt='Thumbnail')
                - })
